<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header" style="background-color: aquamarine;">
          <h3>$name$</h3>
          <h4>Manager</h4>
        </div>
        <ul class="list-group list-group-flush" style="margin: 20px; border: 1px solid lightgrey; border-radius: 1px;">
          <li class="list-group-item">ID: $ID$</li>
          <li class="list-group-item">Email: <a href="$email$">$email$</a></li>
          <li class="list-group-item">Office Number: $officeNumber$</li>
        </ul>
    </div>
</div>